.App {
  display: flex;
  justify-content: center;
  background-image: url("./assets/book_landingpage.png");
  height: 60rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.App h1 {
  margin: 0;
  color: #fff;
  align-self: center;
  font-family: "Send Flowers", cursive;
  font-weight: 400;
  font-size: 6rem;
}

.App button {
  height: 4rem;
  width: 10rem;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-family: cursive;
  font-size: 1.2rem;
  cursor: pointer;
  position: absolute;
  right: 8rem;
  top: 2rem;
}

.App button:hover {
  background-color: #fff;
  color: #000;
}
